### data analysis

In [1]:
print("DATA ANALYSIS")

DATA ANALYSIS

IMPORT REQUIRED LIBRARYS

In [2]:

## load the data
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

### LOAD THE DATASET TO DATAFRAME

In [3]:
titanic=pd.read_csv(r'C:\Users\madhu\OneDrive\Documents\Desktop\D MADHUKAR  learning materials\PROJECTS\ds projects\project1\titanic data analysis\TITANIC-DATA-ANALYSIS\data\titanic_train.csv')
df=titanic.copy()
print(df.head(5))

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\madhu\\OneDrive\\Documents\\Desktop\\D MADHUKAR  learning materials\\PROJECTS\\ds projects\\project1\\titanic data analysis\\TITANIC-DATA-ANALYSIS\\data\\titanic_train.csv'

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.shape

(891, 12)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB